@import vars.sass

.app-body
	position: absolute
	width: 100%
	height: 95%
	padding-top: 3.5rem
	height: -moz-calc(100% - 3.5rem)
	height: -webkit-calc(100% - 3.5rem)
	height: -o-calc(100% - 3.5rem)
	height: calc(100% - 3.5rem)
