<div *ngIf=" championData && spi; else loading_page "
	class="detail-page">
	<div class="background-container">
		<div class="background-content">
			<img [src]="championData.champion.background_url"
				class="champion-background">
			<div class="background-gradient"></div>
		</div>
	</div>
	<div class="spi-container">
		<div class="overall-spi-container">
			<div class="image-container">
				<div class="radial-progress">
					<div class="circle">
						<div class="mask">
							<div class="fill"
								[style.background-color]="ringColor"
								[style.transform]="transform">
								  <div class="border-circle"></div>
							</div>
						</div>
						<div class="mask inv">
							<div class="fill"
								[style.background-color]="ringColor"
								[style.transform]="transformInv">
								  <div class="border-circle"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="radial-mask"></div>
				<img class="champion-img" [src]="championData.champion.image_url"/>
			</div>
			<div class="spi">
				<span class="spi-text">{{spi.overall.value}}</span>
				<img class="trend-img"
					*ngIf="getTrendUrl(spi.overall.trend)"
					[src]="getTrendUrl(spi.overall.trend)"/>
			</div>
			<img class="badge-img" [src]="getBadgeUrl(spi.overall.badge)"/>
		</div>
		<div class="phase-spi-container">
			<div class="sub-title">
				{{subTitle + championData.champion.name}}
				<span>&#9432;</span>
			</div>
			<div class="phase-spi">
				<div *ngFor=" let phase of spi.game_phases; let last = last "
					class="spi-index-container">
					<div class= "spi-index">
						<span class="phase-text">{{phaseText[phase.game_phase]}}</span>
						<span class="phase-text">{{phaseTime[phase.game_phase]}}</span>
						<img class="badge-img" [src]="getBadgeUrl(phase.badge)"/>
						<div class="spi">
							<span class="spi-text">{{phase.value}}</span>
							<img class="trend-img"
								*ngIf="getTrendUrl(phase.trend)"
								[src]="getTrendUrl(phase.trend)"/>
						</div>
					</div>
					<div *ngIf="!last"
						class="vertical-separator">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #loading_page>
  <div class="loading-page">
    <img *ngIf="!error" class="loading-img"
      src="assets/icnSpicalculationCalculating.imageset/icnSpicalculationCalculating@3x.png"/>
    <div *ngIf="error" class="error-icon">&#9888;</div>
  </div>
</ng-template>