@import vars.sass

.championList
  min-width: $min-width
  
  a
    display: block
    border-bottom: 0.05rem solid $alt-purple
    text-decoration: none

    .championContainer
      height: 8rem
      padding: 1rem
      box-sizing: border-box
      background-color: $dark-purple
      transition: 0.3s
      &:hover
        background-color: $alt-purple
      img
        width: 5rem
        height: 5rem
        border-radius: 50%
        border: 0.25rem solid $lighter-purple
      .championName
        display: inline-block
        vertical-align: top
        font-family: 'Roboto-Medium'
        font-size: $list-fs-lg
        color: white
        margin-left: 1rem
      .arrow-icon
        float: right
        font-family: 'Roboto-Light'
        font-size: 2.25rem
        color: gray
      *
        position: relative
        top: 50%
        transform: translateY(-50%)

.loading-page
  width: 100%
  height: 100%
  background-color: $dark-purple

  .loading-img
    @include rotate

  .error-icon
    font-size: 5rem
    width: fit-content
    height: fit-content
    color: red

  *
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
