<div *ngIf=" championsList; else loading_page "
  class="championList">
  <a *ngFor="let champion of championsList"
    [routerLink]="[linkTarget, champion.champion.id]">
  	<div class="championContainer">
  	  <img [src]="champion.champion.image_url">
  	  <h2 class="championName">
  	  	{{ champion.champion.name }}
  	  </h2>
  	  <div class="arrow-icon">
  	  	>
  	  </div>
  	</div>
  </a>
</div>
<ng-template #loading_page>
  <div class="loading-page">
    <img *ngIf="!error" class="loading-img"
      src="assets/icnSpicalculationCalculating.imageset/icnSpicalculationCalculating@3x.png"/>
    <div *ngIf="error" class="error-icon">&#9888;</div>
  </div>
</ng-template>