@import vars.sass

.detail-page
  position: relative
  height: 100%
  min-height: $min-height
  min-width: $min-width

  .background-container
    position: fixed
    margin-top: 3.5rem
    z-index: -1
    width: 100%
    height: 95%
    height: -moz-calc(100% - 3.5rem)
    height: -webkit-calc(100% - 3.5rem)
    height: -o-calc(100% - 3.5rem)
    height: calc(100% - 3.5rem)
    top: 0
    left: 0
    background: $dark-purple

    .background-content
      position: relative

      .champion-background
        display: block

      .background-gradient
        position: absolute
        height: 100%
        background: $dark-purple
        background: -moz-linear-gradient(rgba(37, 36, 76, 0.8), $dark-purple)
        background: -webkit-linear-gradient(rgba(37, 36, 76, 0.8), $dark-purple)
        background: -o-linear-gradient(rgba(37, 36, 76, 0.8), $dark-purple)
        background: linear-gradient(rgba(37, 36, 76, 0.8), $dark-purple)

    *
      width: 100%
      top: 0
      left: 0

  .spi-container

    .overall-spi-container
      position: absolute
      bottom: 50%
      left: 50%
      transform: translateX(-50%)

      .image-container
        $image-size: 200px
        $circle-size: 225px
        $transition-length: 2s

        display: inline-block
        position: relative

        .radial-mask, .champion-img
          position: absolute
          width: $image-size
          height: $image-size
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          border-radius: 50%

        .champion-img
          opacity: 0.5

        .radial-mask
          background-color: $dark-purple

        .radial-progress
          width:  $circle-size
          height: $circle-size
          background-color: $dark-purple
          border-radius: 50%
          transform: rotate(180deg)

          .circle
            .mask, .fill
              width:    $circle-size
              height:   $circle-size
              position: absolute
              border-radius: 50%
              -webkit-backface-visibility: hidden
              transition: -webkit-transform $transition-length
              transition: -ms-transform $transition-length
              transition: transform $transition-length

            .mask
              clip: rect(0px, $circle-size, $circle-size, $circle-size/2)
              .fill
                clip: rect(0px, $circle-size/2, $circle-size, 0px)
                background-color: $lighter-purple

                .border-circle
                  position: absolute
                  width: 12.5px
                  height: 12.5px
                  margin: 0 auto
                  overflow: hidden
                  left: 47%

                  &:after
                    content: ''
                    position: absolute
                    left: -50%
                    top: 0
                    border-radius: 100%
                    width: 12.5px
                    height: 12.5px
                    box-shadow: 0px 0px 0px 200px $dark-purple

            .mask.inv
              clip: rect(0px, $circle-size/2, $circle-size, 0px)
              .fill
                clip: rect(0px, $circle-size, $circle-size, $circle-size/2)
                background-color: $lighter-purple

                .border-circle
                  position: absolute
                  width: 12.5px
                  height: 12.5px
                  margin: 0 auto
                  overflow: hidden
                  right: 47%

                  &:after
                    content: ''
                    position: absolute
                    left: 50%
                    top: 0
                    border-radius: 100%
                    width: 12.5px
                    height: 12.5px
                    box-shadow: 0px 0px 0px 20px $dark-purple

      .spi, .badge-img
        position: absolute
        z-index: 20

      .spi
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        overflow: hidden
        white-space: nowrap

        .spi-text
          font-family: 'Roboto-MediumItalic'
          font-size: $spi-fs-lg
          color: white
          letter-spacing: -2.1pt

        .trend-img
          width: 20px
          margin-bottom: 20px
          margin-left: 5px

      .badge-img
        width: 60px
        bottom: -10%
        left: 50%
        transform: translateX(-50%)

    .phase-spi-container
      position: absolute
      width: 100%
      max-width: $max-width
      bottom: 0
      left: 50%
      transform: translateX(-50%)

      .sub-title
        font-family: 'Roboto-Light'
        font-size: $nav-fs-sm
        color: white
        text-align: center
        margin-bottom: 7%
        opacity: 0.7

      .phase-spi
        position: relative
        width: 100%
        text-align: center

        .spi-index-container
          display: unset

          .vertical-separator
            width: 1px
            background-color: $alt-purple
            display: inline-block
            height: 100%
            position: absolute

          .spi-index
            margin: 0 7% 7% 7%
            display: inline-block

            *
              display: block

            .phase-text
              font-family: 'Roboto-Regular'
              font-size: $list-fs-sm
              color: white
              opacity: 0.3

            .badge-img
              width: 40px
              margin: 10px auto

            .spi
              overflow: hidden
              white-space: nowrap

              .spi-text
                font-family: 'Roboto-MediumItalic'
                font-size: $spi-fs-sm
                color: white

              .trend-img
                width: 14px
                margin-left: 5px
                margin-bottom: 2px

              *
                display: inline-block

.loading-page
  width: 100%
  height: 100%
  background-color: $dark-purple

  .loading-img
    @include rotate

  .error-icon
    font-size: 5rem
    width: fit-content
    height: fit-content
    color: red

  *
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
