@import vars.sass

.navigationBar
  position: fixed
  z-index: 1
  width: 100%
  background-color: $lighter-purple
  min-width: 400px

.navigationBarContent
  height: $nav-height
  .arrow
    vertical-align: top
    color: white
    font-size: 4rem
    cursor: pointer
    margin-left: 1rem
    margin-top: -1.5rem
  *
    display: inline-block
    position: relative
    top: 50%
    transform: translateY(-50%)

.navigationTitle
  font-family: Roboto-Medium
  font-size: $nav-fs-lg
  color: white
  margin-left: 1rem