<div class="navigationBar">
  <div *ngIf="page === spiPageName; else main_page"
  	class="navigationBarContent">
    <div (click)="backClicked($event, item)"
      class="arrow">
      &#767;
    </div>
    <h1 class="navigationTitle">
    	{{ (titleComponent ? titleComponent : '') + spiPageTitle}}
    </h1>
  </div>
</div>
<ng-template #main_page>
  <div class="navigationBarContent">
    <h1 class="navigationTitle">
      {{listPageTitle}}
    </h1>
  </div>
</ng-template>