$lighter-purple: #7b4bff
$dark-purple: #25244c
$alt-purple: #434181

$nav-fs-lg: 20pt
$nav-fs-sm: 18pt
$spi-fs-lg: 42pt
$spi-fs-sm: 16.8pt
$list-fs-lg: 18pt
$list-fs-sm: 13.2pt
$nav-lh-sm: 24pt
$list-lh-sm: 18pt
$spi-ls-lg: -2.1pt

$nav-height: 3.5rem
$max-width: 800px
$min-width: 460px
$min-height: 600px

@mixin keyframes($animationName)
  @-webkit-keyframes #{$animationName}
    @content
  @-moz-keyframes #{$animationName}
    @content
  @-o-keyframes #{$animationName}
    @content
  @keyframes #{$animationName}
    @content

@mixin animate($name, $duration, $iteration, $direction)
  -moz-animation: $name $duration $iteration $direction
  -webkit-animation: $name $duration $iteration $direction
  -o-animation: $name $duration $iteration $direction
  animation: $name $duration $iteration $direction

@include keyframes(rotation)
  from
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  to
    -moz-transform: rotate(359deg)
    -webkit-transform: rotate(359deg)
    -o-transform: rotate(359deg)
    transform: rotate(359deg)

@mixin rotate
  @include animate(rotation, 2s, infinite, linear)
