/* You can add global styles to this file, and also import other style files */
@font-face
  font-family: 'Roboto-Regular'
  src: url('assets/fonts/roboto_regular.ttf')

@font-face
  font-family: 'Roboto-Light'
  src: url('assets/fonts/roboto_light.ttf')

@font-face
  font-family: 'Roboto-Medium'
  src: url('assets/fonts/roboto_medium.ttf')

@font-face
  font-family: 'Roboto-MediumItalic'
  src: url('assets/fonts/roboto_mediumitalic.ttf')